@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Poppins:wght@300;400;500;600;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    max-height: 100vh;
    display: flex;
    background: rgb(132, 209, 44);
    background: linear-gradient(90deg, rgb(110, 57, 209) 0%, rgb(170, 41, 230) 52%, rgb(238, 105, 171) 100%);
}
.contenedor{
    background-color: rgb(232, 233, 232);
    width: 90%;
    height: 800px;
    border-radius: 30px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);

}
.izquierda, .derecha{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hoja{
    width: 95%;
    height: 70%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.hoja .logos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.separa-logos{
    width: 5px;
    height: 70px;
    background-color: black;
    margin-left: 8px;
    margin-right: 8px;
}
.hoja .titulo{
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}
.hoja table{
    width: 100%;
    text-align: center;
    font-size: 23px;
}
table th{
    border: 1px black solid;
}
table select{
    background-color: rgb(224, 190, 255);
    outline: none;
    border: none;
    text-align: center;
    font-size: 24px;
    width: 100%;
    height: 100%;
    padding: 4px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
table .motivo{
    width: 100%;
    height: 100px;
    font-size: 27px;
    padding: 5px;
}
.btn-generar-imagen{
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(34, 241, 44) 0%, rgb(218, 150, 250) 52%, rgb(105, 238, 165) 100%);
}   
/* la imagen generada */
/* caja */
.resultado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 70%;
    box-shadow: 1px 5px 16px 2px rgb(85, 77, 77);
    border-radius: 14px;
    overflow: hidden;
}
.resultado img{
    aspect-ratio: 9/7;
    width: 100%;
    height: 100%;
}